---
layout: master
title: Codebyte Studios - Game Development Studio
---
<div id="posts">
    <h1>Blog Posts</h1>
    {% for posts in paginator.posts %}
        <h4 class="date-header">{{posts.date | date: "%B %d, %Y"}}</h4>
        <h3>{{posts.title}}</h3>
        <p>{{posts.excerpt}}</p>
        <a href="{{posts.url}}" style="color: rgb(48, 172, 255);">Read More...</a>
        <br />
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}