body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}
textarea {
    resize: none;
}
header {
    margin: 0 auto;
    height: 100px;
    width: auto;
}
.wrapper {
    min-width: 800px;
}
#content {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}
#logo {
    position: absolute;
    left:0;
    right:0;
    top:100;
    margin:auto;
}
#posts {
    text-align: justify;
    min-width: 600px;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 25px;
}
#posts a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
#posts h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
.fb-comments {
    margin: 0 auto;
}