@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.wrapper {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:500ms;
    -moz-animation-duration:500ms;
    animation-duration:500ms;
}
/***** General CSS for whole page *****/
body {
    margin: 0;
    padding: 0;
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

/***** Header and Navi CSS *****/
header {
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/***** Keep the site looking nice on all desktop screen sizes *****/
.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

/***** Blog Posts (index.html) *****/
#posts {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    background-color: rgb(40, 40, 40);
    text-align: justify;
    margin: 0 auto;
    padding: 25px;
}
#posts a {
    z-index: 1;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
#posts h1 {
    z-index: 1;
    text-align: center;
    color: rgb(255, 255, 255);
}
#posts p {
    z-index: 1;
}

/***** Date Ribbon (index.html) *****/
h4.date-header {
	position: relative;
	left: -10px;
	width: 30%;
	font-size: 1.3em;
	font-weight: bold;
	padding: 7px 20px 7px 25px;
	margin: 0 10px 25px -30px;
	color: #555;
	background-color: #eee;
	text-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 2px 4px #888;
}
h4:before, h4:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}
h4.date-header:after {
	left: 0;
	top: 100%;
	border-width: 7px 7px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}
/***** About Us *****/
/***** Our Team *****/
#content-team {
    max-width: 1000px;
    margin: 0 auto;
}
#members {
    padding: 0;
    width: 100%;
}
.member {
    top: 5px;
    float: left;
    height: 75px;
    width: 32%;
    background-color: rgb(40, 40, 40);
    padding: 5px;
    text-align: center;
}
.wesley, .cameron, .zach {
    border-bottom: 5px solid rgb(30, 30, 30);
}

.wesley:hover {
    border-bottom: 0px solid rgb(45, 45, 45);
}
.wesley:hover #contentWesley {
    visibility: visible;
    padding-right: 0;
    opacity: 1;
    height: 200px;
    width: 1000px;
    transition: opacity 500ms, height 600ms, width 500ms, padding-right 0ms;
    transition-delay: 0s, 0s, .5s, .6s;
}
#contentWesley {
    padding-right: 10px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    width: 335px;
    height: 0px;
    background-color: rgb(40, 40, 40);
    left: -5px;
}
@-moz-document url-prefix() {
    #contentWesley {
        padding-right: 10px;
        visibility: hidden;
        opacity: 0;
        position: relative;
        width: 325px;
        height: 0px;
        background-color: rgb(40, 40, 40);
        left: -5px;
        top: -6px;
    }
}
.cameron:hover #contentCameron {
    visibility: visible;
    opacity: 1;
    height: 200px;
    width: 1000px;
    left: -340px;
    transition: opacity 500ms, height 600ms, width 500ms, left 500ms;
    transition-delay: 0s, 0s, .5s, .5s;
}
#contentCameron {
    visibility: hidden;
    opacity: 0;
    position: relative;
    width: 330px;
    height: 0px;
    background-color: rgb(40, 40, 40);
    left: -5px;
}
@-moz-document url-prefix() {
    #contentCameron {
        visibility: hidden;
        opacity: 0;
        position: relative;
        width: 330px;
        height: 0px;
        background-color: rgb(40, 40, 40);
        left: -5px;
        top: -2px;
    }
}
.zach:hover #contentZach {
    visibility: visible;
    opacity: 1;
    height: 200px;
    width: 1000px;
    left: -675px;
    transition: opacity 500ms, height 600ms, width 500ms, left 500ms;
    transition-delay: 0s, 0s, .5s, .5s;
}
#contentZach {
    opacity: 0;
    position: relative;
    width: 330px;
    height: 0px;
    background-color: rgb(40, 40, 40);
    left: -5px;
}
@-moz-document url-prefix() {
    #contentZach {
        opacity: 0;
        position: relative;
        width: 330px;
        height: 0px;
        background-color: rgb(40, 40, 40);
        left: -5px;
        top: -2px;
    }
}
/***** Contact *****/
/* Contact Form CSS */
#contact-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(40, 40, 40);
    padding: 35px;
    box-sizing: border-box;
    overflow: hidden;
}
.contactInput {
    background-color: rgb(28, 28, 28);
    color: rgb(153, 153, 153);
    padding: 5px;
    font-size: 15px;
    font-family: Arial;
    outline: none;
    border: none;
    box-sizing: border-box;
}
.contactInput:hover {
    background-color: rgb(33, 33, 33);
    transition: background-color 500ms;
}
.contactInput:focus{
    background-color: rgb(33, 33, 33);
    transition: background-color 500ms;
}
.contactTextInput {
    padding-top: 3px;
    height: 36px;
    line-height: 20px;
    margin-bottom: 4px;
    width: 49%;
}
.contactTextbox {
    padding: 4px;
    width: 100%;
    resize: none;
}
.contactSend {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    color: rgb(153, 153, 153);
    background-color: rgb(28, 28, 28);
}
.contactSend:hover {
    background-color: rgb(33, 33, 33);
    transition: background-color 500ms;
}
.contactSend:active {
    background-color: rgb(20, 20, 20);
}

.teamInset {
    background-color: rgb(35, 35, 35);
    width: 360px;
    margin: -10px;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.teamAbout{
    background-color: rgb(35, 35, 35);
    width: 370px;
    height: 160px;
    margin: -20px;
    margin-top: 0px;
    margin-bottom: -10px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.2), inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
