<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/navi.css">
        <meta {{page.meta}}>
        <script src="/scripts/navi.js"></script>
        <script src="/scripts/form_submit.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <title>{{page.title}}</title>
    </head>
    <body>
        <header>
            <h1>CODEBYTE STUDIOS</h1>
        </header>
        {% include navi.html %}
        <div class="wrapper">
            <div id="content">
                {{content}}
            </div>
        </div>
    </body>
</html>