<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/navi.css">
        <script src="/scripts/navi.js"></script>
        <title>{{page.title}}</title>
    </head>
    <body>
        <header>
            {% include navi.html %}
        </header>
        <div class="wrapper">
            <div id="content">
                {{content}}
            </div>
        </div>
        <footer>
            
        </footer>
    </body>
</html>