<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/navi.css">
        <title>{{page.title}}</title>
        <script>
            window.onload = function currentPage() {
                page = window.location.pathname;
                if(page == "/index.html") {
                    document.getElementById("home").style.borderTop="2px solid #30ACFF";
                    document.getElementById("home").style.color="#30ACFF";
                }
                else if(page == "/") {
                    document.getElementById("home").style.borderTop="2px solid #30ACFF";
                    document.getElementById("home").style.color="#30ACFF";
                }
                else if(page == "/about.html") {
                    document.getElementById("about").style.borderTop="2px solid #FF0000";
                    document.getElementById("about").style.color="#FF0000";
                }
                else if(page == "/team.html") {
                    document.getElementById("team").style.borderTop="2px solid #FF6600";
                    document.getElementById("team").style.color="#FF6600";
                }
                else if(page== "/games.html") {
                    document.getElementById("games").style.borderTop="2px solid #007A00";
                    document.getElementById("games").style.color="#007A00";
                }
                else if(page == "/contact.html") {
                    document.getElementById("contact").style.borderTop="2px solid #000000";
                    document.getElementById("contact").style.color="#000000";
                }
            }
        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <header>
            {% include navi.html %}
        </header>
        <div class="wrapper">
            <div id="posts">
                <h3>{{page.title}}</h3>
                {{content}}
                <div class="fb-comments" data-href="" data-numposts="5" data-colorscheme="dark"></div>
            </div>
        </div>
        <footer>
            
        </footer>
    </body>
</html>